# Python Class 1
   * Jupyter Intro: Cell+Kernel+Download 
   * Printing and displaying messages(strings) and numbers -->keywords
   * Commenting
   * Primitive Data Types
     * Strings: 
       - Singleline ', " 
       - Multiline """, '''
     * Variables for
       - string
     * Variables vs Strings
     * Variables for
       - bool 
       - int 
       - float
   * Basic Operations: +, -, *, /
   * Legal and Illegal Variable Names

In [2]:
# printing and displaying
print("Hello world")

Hello world

**Printing Integers**

In [7]:
# printing an Integer with python
print(175)

# printing a string made of Integer (number) characters with python
print("2019")

2

In [40]:
# this is how a comment looks in python code
# every comment line starts with the # symbol

**Single and double quotes strings**

In [ ]:
# examples of printing strings with single and double quotes
print('strings go in single')
print("or double quotes")

In [39]:
# Example to print in one line with space
print('Muhammad Adan Abid')
print("Batch 3")
print("Muhammad Adan Abid","Batch 3")

Muhammad Adan Abid
Batch 3
Muhammad Adan Abid Batch 3

**Multi-line quotes strings**

In [3]:
print(''' 
PIAIC Islamabad ID card
Name : Muhammad Adan Abid
Father Name: Muhammad Abid Javed
Batch: 3
University: Bahria University
''')
#print(" PIAIC
#Islam....")

PIAIC Islamabad ID card
Name : Muhammad Adan Abid
Father Name: Muhammad Abid Javed
Batch: 3
University: Bahria University

### Variables
**Initializing variables**

**literals & variables in printing**

**Variable re-assignment**

In [5]:
id_card_1 = '''
PIAIC Islamabad ID card
Name : Muhammad Adan Abid
Father Name: Muhammad Abid Javed
Batch: 3
University: Bahria University
'''
print(id_card_1)

PIAIC Islamabad ID card
Name : Muhammad Adan Abid
Father Name: Muhammad Abid Javed
Batch: 3
University: Bahria University

In [6]:
# use of variable at different places in code
name = "Adan"
print(name)
print(name)

Adan
Adan

In [7]:
# assign a new string to the variable
name = "Farhan"
print(name)

Farhan

**Data Types in Variables**

In [43]:
item_price = 10.25 # floating point number also called simply float
item_quantity = 25 # interger or whole number
name ="Ahmed Khan" #name initialized as a string
flag = True        #flag initialized as True
flag1 = False

In [12]:
weight = 150
extra = 25
multiplier = 2.5

In [13]:
new_weight = weight + 25
new_weight = weight + extra
weight = weight + 10

In [14]:
print(weight + 25)
print(new_weight)
print(weight,multiplier)

185
175
160 2.5

In [58]:
print(flag)
print(flag1)
print(flag+flag1*flag/flag)

True
False
1.0

In [48]:
weight ="150" + 7

TypeError: can only concatenate str (not "int") to str

In [8]:
# modifying a variable and re-assigning to a different data type
test_value = 22
print(test_value)
test_value = "Ahmed"
print(test_value)

22
Ahmed

In [9]:
x = 3
y = 4
x,y,z = 3,4,5
print(x,y,z)

3 4 5

**Basic Arithematic Operations**

In [53]:
# Operations, Operators and Operands
# 5 + 7 --> Operations
# +, -, *, / --> Operators
# 5,7 -->Operands

In [54]:
2 + 2
print(2 + 2)
plot = 5 * 5
loss = 2 - 5
double = 24/3

4

In [55]:
print(plot)
print(loss)
print(double)

25
-3
8.0

In [15]:
new_weight = weight / multiplier
print(new_weight)

64.0

**Division by Zero**

In [16]:
print(new_weight / 0)

ZeroDivisionError: float division by zero

# Legal Variable Names
###### Cannot be
 * Cannot be Python __Reserved__ words
 * Cannot be only number
 * Cannot start with number
 * Cannot be spaces between multi-word variable
 * Cannot be enclosed in quotation marks
 
 
###### Can be
 * Only with lowercase, uppercase, number(at end or in middle) and underscores
 * Case-Sensitive
 * Breaking-up multi-word with underscores