# Python- Class 3
   * Basic Operations with String Data Type (Contd.)
        - Strip, rstrip, lstrip
        - Split, Join Method
        - Concatenation
            + Using %
            + Using +
            + Using f
            + Using .format wihtout naming and with naming
   * Arithematic Operators
        - Basic Operators
        - Comparison Operators
        - Assignment Operators
        - Logical Operators
        - Bitwise Operators
        - Membership Operators
        - Identity Operators
   * If statements
   * Comparison Operators: ==, !=, >=, <=, >, <
   * Else, Elif Statements
   * Testing Sets of Conditions
   * Nested if/else

**String Stripping**

In [ ]:
# .title, .strip, .lstrip, .rstrip
name1 = "         muhammad adan       "
print(len(name1))
print(name1)
print(name1.rstrip())
print(len(name1.rstrip()))
print(name1.strip())
print(len(name1.strip()))

**Split and Join**

In [78]:
# Split into list
n = p.split()
print(n)

NameError: name 'p' is not defined

In [ ]:
# Join using ,
s = ','
s.join(n)

**Concatenation**

In [ ]:
# card multi-line str
card = """
name: Muhamamd Adan
father's name: Muhammad Abid
Program: PIAIC
"""

print(card)

In [ ]:
# using % and %s and \ for long lines
names = "Hamza"
fname =  "Rashid"
program = "PIAIC"
score = 45

print("Student name: %s \n\
Father's name: %s \n\
Program: %s"%(names,fname,program))

In [ ]:
# using % and %s,%d and \ for long lines
print("Student name: %s \n\
Father's name: %s \n\
Program: %s \n\
Score: %d"%(names,fname,program,score))

In [ ]:
# using +
print("Student's name: " + names + '\nFname: ' + fname + '\nProgram: ' + program)

In [ ]:
# above old methods--> new methods
# using f and curly braces inside
print(f'Sname: {names} \nFname: {fname} \nProgram: {program}')

In [61]:
# using .format method of str class
print("Name; {} \nfname: {} \nProgram: {}".format(names,fname,program))

NameError: name 'names' is not defined

In [ ]:
# using .format with index numbers
print("Name; {1} \nfname: {2} \nProgram: {0}".format(program,names,fname))

**String vs Number Addition/Multiplication**

In [36]:
# int + int
20 + 18

38

In [37]:
# str + str
"my name is " + 'Umar'

'my name is Umar'

In [38]:
# variable + str
shoe_color = "brown"
"my shoe color is " + shoe_color

'my shoe color is brown'

In [41]:
# int * int
3.5 * 3

10.5

In [40]:
# str * int
"my name is " * 3

'my name is my name is my name is '

In [42]:
# str + int
print("The sum of 2 + 2 is:" + 4)

TypeError: can only concatenate str (not "int") to str

In [44]:
# str + str
print("The sum of 2 + 2 is: " + '4')

The sum of 2 + 2 is: 4

In [ ]:
11 / 3

In [ ]:
# Floor Division
11 // 3

In [ ]:
2 + 7 + 9 + 8 +7 + asddjajaofojnadljadkflnadkjfdasdlsakssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssaaaaaaaaaaaaaaaaaasdlkj

In [ ]:
2 + 7 + 9 + 7 \
+ 2

In [ ]:
# Modulus
11 % 3

            3
      --------------
  3   )     11      
             9
      --------------
             2

In [1]:
# Power 
print(2 ** 3)
a = 2
a = a ** 2
print(a)

8
4

**Comparison Operators**

In [ ]:
# == is Equal
# != is not Equal
# <> is not Equal ( Python 2.7)
# > is greater than
# < is less than
# >= is greater than or equal to
# <= is less than or equal to

In [ ]:
"Adan" == "Adan"

In [ ]:
# Comparison of single quote and double quote
'qasim' == "Qasim"

In [ ]:
# ==
print(name1 == name2)

In [ ]:
# !=
print(name1 != name2)

In [ ]:
# Like ==, the not-equal operator can be used to compare numbers, strings,
# variables, math expressions, and combinations.
# Like ==, string comparisons using the not-equal operator are case-sensitive.

In [ ]:
# Comparison of float vs int
2 == 2.0

In [2]:
# Comparison of int,float variables
a=2
b=2
print(a == b)

True

In [6]:
# Comparison of string vs int
2 == '2'

False

In [ ]:
# is greater than operator
#Identification of > < operator

In [ ]:
6 > 10

In [ ]:
10 > 10

In [7]:
13 > 12

True

In [18]:
#on String
'A' > 'B'

False

In [19]:
# Comparison based on ASCII-American Standard Code for Information Interchange
# Computers understand numbers, so 128 characters represented as 0-127
"B" > "A"

True

In [ ]:
# In-Built function to return chr for an ASCII number
chr(65)

In [ ]:
 #In-Built function to return ASCII of a character
ord('A')

In [ ]:
# is less than and equal operator
# True When left value less than 3 and ranging to - infinity
2 <= 3

In [23]:
#Similar with strings
"AB" >= "AC"

False

**Assignment Operators**

* =
* +=
* -=
* *=
* /=
* **=
* &=
* //=

In [ ]:
a = 1
a += 1
a += 2
a += 3
a += 4
print(a)

In [ ]:
a = 100

a -= 1
a -= 2
a -= 3
a -= 4
print(a)

In [ ]:
a = 100
a /= 3
a /= 2
print(a)

In [ ]:
a = 100
a //= 3    #floor division
a //= 2
print(a)

In [ ]:
a = 2
a **= 2    # 2 *2
a **= 3    #4*4*4
print(a)

In [ ]:
# On strings
a = "A"
a *= 2
print(a)

In [ ]:
a = 'A'
a += 'B' # 'A' + 'B' = 'AB'
a += 'C' # 'AB' + 'C'
print(a)

In [ ]:
#No Dynamic Application without Variable e.g: Facebook Example

**Logical Operators**

* and
* or
* not

In [ ]:
True and True and False and True

In [ ]:
True and True and True and True

In [ ]:
True & True & False & True

In [ ]:
#  False and False = False
#  False and True  = False
#  True  and False = False
#  True  and True  = True
# LAAZZZMIIII

In [26]:
user = "Qasim"
password = "Qasim"

print(user =="Qasim")
print(password == "Qasim")

True
True

In [27]:
print(user == "Qasim" and password == "Qasim")
#           True      and         True

True

In [32]:
user = "Qasim"
password = 122

print(user == 122 and password == 1222)
#          False      and     False

False

In [29]:
user = "Qasim"
password = "Qasim"

print(user == "Qasim" and password == 122)
#          True      and     False

False

In [30]:
user = "Qasim"
password = "Qasim"

print(user == "QasimA" and password == "Qasim")
#          False      and     True

False

In [ ]:
a = 'a'
b = 'b'
c = 'c'
d = 'd'

print(a=='a' and b=='b' and c=='c' and d=='d')

In [ ]:
# Bitwise Operator and Precedence
print((a =='a') & (b=='b') & (c=='c') & (d=='d'))

In [ ]:
# Or Operator
True or True or False or True or False

In [ ]:
False or False or False or False

In [ ]:
False | False | False | True

In [ ]:
#  False or False = False
#  False or True  = True
#  True  or False = True
#  True  or True  = True

In [42]:
user  = "+923369213865"
password = "124"

(user == "muhammad.adan@nu.edu.pk" or user == "+923369213865" or user =="MuhammadAdan1145" and password == '123')
#                False             or               True      or           False           and        False
#                False             or               True      or                          False
#                                 True                        or                          False
#                                                            True

True

In [47]:
user = "MuhammadAdan1145"
(user == "muhammad.adan@nu.edu.pk" or user == "+923369213865" or user =="MuhammadAdan1145") and password == '123'
#    (False                         or     False               or    True                  ) and        False
#    (                             False                       or    True                  ) and        False
#                                                         (   True  )                        and        False
#                                                             True                           and        False
#                                                                                           False

False

In [ ]:
not(True)

In [ ]:
not(False)

In [ ]:
not (True & False)

**Bitwise Operators**

* &
* |
* ^
* \>>
* <<

# Decimal to Binary Conversion
# Binary to Decimal Conversion

7  ,6 ,5 ,4 ,3,2,1,0
2  ,2 ,2 ,2 ,2,2,2,2

128,64,32,16,8,4,2,1

# Example
10010001
128 + 0 + 0 + 16 + 0 + 0 + 0 + 1 = 145

11101
16+8+4+0+1 = 29

11100
16+8+4+0+0 = 28

In [68]:
'''
And

001101 = 13
010101 = 21
-------
000101 = 05

'''

print(0 & 0)
print(0 & 1)
print(1 & 0)
print(1 & 1)
print(0 & 0)
print(1 & 1)
print( 13 & 21)
print( 13 and 21)
print( 13 | 21)
print( 13 or 21 )
print (13 ^ 21)
# When same 0, When Different 1

0
0
0
1
0
1
5
21
29
13
24

In [ ]:
print(0 and 0)
print(0 and 1)
print(1 and 0)
print(1 and 1)
print(0 and 0)
print(1 and 1)

In [69]:
print(21 >> 2 )
# 010101
# 001010    21 >> 1
# 000101    21 >> 2

5

In [70]:
print (21 << 2)
# 00010101
# 00101010  21 << 1
# 01010100  21 << 2

84

**Membership Operator**

In [72]:
'D' in 'ABC'

False

**Identity Operator**

In [73]:
a = 5
b = '5'
c = a
d = 5
print(id(a),id(b),id(c),id(d))

140711981921232 2261906025920 140711981921232 140711981921232

In [77]:
print(a is b)
print(a is c)
print(a is d)
print(c is d)
print(b is c)
print(b is d)

False
True
True
True
False
False

**If statements**

Python

if logic:
    value_if_True     #Tab space automatically
else:
    value_if_false    #Block ended when indentation ended
    
    
value_if_True if logic else value_if_false

old

if (logic)
{
    if_value_True
}
else
{
    if_value_false
}

In [ ]:
if 1 > 0:
    print("True")

In [ ]:
if 0 < 1:
    print("True")

In [ ]:
if 1 >= 0:
    print("True")

In [ ]:
if 1 <= 1:
    print("True")

In [ ]:
# if with !=
your_ticket_number = 5
if your_ticket_number != 487208:
    print("Better luck next time.")

In [63]:
# simple if with ==
species = 'cat'
if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

In [66]:
# with multiple lines
if species == "cat":
    status = "ok"
    kingdom = "animal"
    print("Yep, it's cat.")

Yep, it's cat.

In [65]:
print(status)
print(kingdom)

ok
animal

In [67]:
# if on numbers
if 2 + 2 == 4:
    print("Everything makes sense.")

Everything makes sense.

In [68]:
# if on number variables
age = 25
if age == 25:
    print("So far so good.")

So far so good.

**Else and Elif Statements**

In [86]:
# multiple contrasting if
if species == "cat":
    print("Yep, it's cat.")
if species != "cat":
    print("Nope, not cat.")

Yep, it's cat.

In [ ]:
# The following code is more concise, less goofy, and more readable.
if species == "cat":
    print("Yep, it's cat.")
else:
    print("Nope, not cat.")

* The keyword else gets its own line and a colon at the end.
* Statements that execute in the else case are indented.
* As in the if case, any number of statements can execute in the else case.

In [ ]:
if True:
    print("Pakistan")
else:
    print("ZindaBad")

In [ ]:
if True:
    print("Pakistan")
    print("Pakistan")
    print("Pakistan")
else:
    print("ZindaBad")

In [ ]:
user = input("User: ")
password = input("Pass: ")

if((user =='Hamza' or user =='Adan' or user =='Farhan') and password =='1234'):
    print("Successful")
else:
    print("Not Successful")

In [90]:
# if, elif, else
donut_price = "low"
if donut_price == "high":
    buy_score = 10
elif donut_price == "low":
    buy_score = 5
else:
    buy_score = 0

In [91]:
print(buy_score)

5

**Testing Sets of Conditions**

**and, or, not: combining multiple conditions, negating conditions**

In [99]:
# and
weight = 301
time = 5
if weight > 300 and time < 6:
    status = "try to recruit him"

In [100]:
print(status)

try to recruit him

In [104]:
# multiple ands
height = 55
if weight > 300 and time < 6 and age > 17 and height < 72:
    status = "try to recruit him nowww"

In [105]:
print(status)

try to recruit him nowww

In [108]:
# multiple or
avg = 25
GPA = 3
parent = "alum"
if SAT > avg or GPA > 2.5 or parent == "alum":
    message = "Welcome to Leeds College!"

In [109]:
print(message)

Welcome to Leeds College!

**Nested if/else**

In [113]:
c=4
d=4
x=5
y=5
a=6
b=2
g=9
h=8
if c == d:
    if x == y:
        g = h
    elif a == b:
        g = h
    else:
        e = f
else:
    e = f